<%- include('./includes/head', { pageTitle: 'Access denied!' }) %>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>Access denied!</h1>
        <p>You are not authenticated!</p>
        <p><a class="btn" href="/">Back to saftey</a></p>
    </main>
<%- include('./includes/footer') %>