<%- include('./includes/head', { pageTitle: 'Content not found' }) %>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>Content not found</h1>
        <p>Whatever you are looking for - it's not here.</p>
        <p><a class="btn" href="/">Back to saftey</a></p>
    </main>
<%- include('./includes/footer') %>