<%- include('./includes/head', { pageTitle: 'You are already loged in!' }) %>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <h1>You are already loged in!</h1>
        <p>Logout to access this content!</p>
        <p><a class="btn" href="/">Back to saftey</a></p>
    </main>
<%- include('./includes/footer') %>