<%- include('../../shared/includes/head', { pageTitle: 'Order failed!' }) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Order failed!</h1>
        <p>Please contact sites administrator!</p>
    </main>
<%- include('../../shared/includes/footer') %>