<%- include('../../shared/includes/head', { pageTitle: 'Payment succeeded' }) %>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Payment succeeded!</h1>
        <p>Checkout orders page to see your orders!</p>
        <a href="/orders" class="btn btn-alt">My orders</a>
    </main>
<%- include('../../shared/includes/footer') %>