<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<link rel="stylesheet" href="/style/products.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All products</h1>
        <section>
            <ul class="products-grid">
                <% for (const product of products) { %>
                    <li>
                        <%- include('../../shared/includes/product-item', { product }) %>
                    </li>
                <% } %>
            </ul>
        </section>
    </main>
<%- include('../../shared/includes/footer') %>