<%- include('../../shared/includes/head', { pageTitle: 'Add Product' }) %>
<link rel="stylesheet" href="/style/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Add new product</h1>
        <%- include('./includes/product-form', {
            submitUrl: '/admin/products',
            product: {},
            imageRequired: true
        }) %>
    </main>
<%- include('../../shared/includes/footer') %>