<%- include('../../shared/includes/head', { pageTitle: 'Update Product' }) %>
<link rel="stylesheet" href="/style/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Update product</h1>
        <%- include('./includes/product-form', {
            submitUrl: product.getAdminUrl(),
            product: product,
            imageRequired: false
        }) %>
    </main>
<%- include('../../shared/includes/footer') %>